* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #F3B3C1; 
    color: #DF4879;
    text-align: center;
    padding: 50px 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Forte';
}

.header-content h1 {
    font-size: 36px;
    animation: moveText 1s ease-in-out infinite alternate; 
}

.header-content p {
    font-size: 18px;
    margin-top: 10px;
    animation: moveText 1s ease-in-out infinite alternate; 
}

@keyframes moveText {
    0% {
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-10px); 
    }
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E37598;
    color: white;
}

.profile {
    display: flex;
    background-color: #E37598;
    align-items: center;
    padding: 100px 0; 
    font-family: 'Poppins';
}

.profile .content {
    max-width: 1000px;
    padding: 0 10%;
}

.profile .content h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}

.profile .content p {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.4;
    color: rgb(75, 55, 55);
}

.profile img {
    max-height: 600px;
    max-width: 600px;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: -200px; 
}

.line1, .line2, .line3, .line4 {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid rgb(75, 55, 55);
}

.edu, .exp {
    padding: 0 10%;
    margin: 100px 0px;
    font-family: 'Poppins';
}

.edu h2, .exp h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-family: 'Cooper Black';
}

.edu table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu th, td {
    padding: 10px 20px;
    border: 1px solid white;
}

.edu th {
    font-size: 28px;
    background-color: #F3B3C1;
    font-weight: 500;
    font-family: 'Cooper Black';
    color: #DF4879;
}

.edu td {
    font-size: 24px;
    font-weight: 200;
}

.exp .sch23, .sch22, .jmmi, .bemf, .cssmora, .kemenag {
    display: flex;
    align-items: center;
}

.exp img {
    max-width: 150px; 
    max-height: 150px; 
    margin-right: 50px; 
}

.exp .text h3 {
    font-size: 28px;
    padding-left: 100px;
    font-weight: 600;
    color: white;
    font-family: 'Cambria';
}

.exp .text h3:hover {
    color:#BF2761;
}


.exp .text h4 {
    font-size: 20px;
    padding-left: 100px;
    font-weight: 400;
    color: white;
}

.exp .text span {
    color: white;
}

.exp .text ul {
    font-size: 18px;
    padding-left: 120px;
    font-weight: 200;
    color: rgb(75, 55, 55);
}


.social {
    padding: 100px 10% 24px;
    text-align: center;
    font-family: 'Cooper Black';
}

.social h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 100px;
}

.social .content {
    margin-bottom: 100px;
}

.social .content a {
    color: white;
    margin: 0 50px;
}

.social .content a:hover {
    color:#BF2761;
}

.social .content .icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
}

.social .content .icon:hover {
    transform: translateY(-10px); 
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.contact-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Cooper Black';
}

.contact-form form {
    text-align: left;
}

.contact-form label {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-family: 'Cooper Black';
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(75, 55, 55);
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button[type="submit"] {
    background-color: #F3B3C1;
    color: #BF2761;
    font-size: 24px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: 'Cooper Black';
}

.contact-form button[type="submit"]:hover {
    background-color: #BF2761;
    color: #F3B3C1;
}

footer {
    text-align: center;
    color: #DF4879;
    background-color: #F3B3C1;
    padding: 10px 0;
    bottom: 0; 
    width: 100%;
}
